* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
list-style: none;
}

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex.justify-start {
  justify-content: flex-start;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-end {
  justify-content: flex-end;
}

.flex.justify-between {
  justify-content: space-between;
}

.flex.align-start {
  align-items: flex-start;
}

.flex.align-end {
  align-items: flex-end;
}

.flex.align-center {
  align-items: center;
}

.flex.align-stretch {
  align-items: stretch;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.logo {
  max-width: 150px;
}

.form {
  margin-left: 50px;
}

.actions {
  margin-left: auto;
}

li a {
  text-decoration: none;
}
header{
    margin-top:30px;
    margin-bot:30px;
}
nav{
    width:100%;
    line-height: 17px;
    font-size: inherit;
    font-weight: 100;
    padding: 5px;
    display: block;
    white-space: nowrap;
    background-color: green;

}
nav>ul>li>a {
  display: block;
  padding: 3px;
  margin : 1px; 
  color: white;
}
h3{
  margin :5px;
  color :blue;
  text-transform: uppercase;
}

.main{
    display:flex;
    margin-top:20px;
    margin-left:150px;
    margin-right: 350px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 3px;
    height: 600px;
    list-style :symbols();
    color : black;
    text-align: -webkit-match-parent;

    
    
}

.news{
  width: 270px;
  font-size:14px;
  text-align:left;
  color :black;
  align-items: initial;

}
  

.image{
  justify-content: center;
}
.item1, .item2, .item3{
  padding: 10px;
}
.text-image{
  justify-content:center;

}
a{
   padding: 3px;
  margin : 1px; 
  color:black;
  
}
.i1 ,.i2 ,.i3 ,.i4, .i5 ,.i6 ,.i6, .i7, .i8, .i9, .i10{
  margin-bottom: 10px;
  font-weight: 550;
}
footer{
  background-color: #f4f4f4;
  margin-top :50px;
  margin-bottom: 20px;
  justify-content: space-around;
  color: #616161;
  font-size: 14px;
  line-height: 20px;
  padding :24px 0px 24px 0px;
  font-weight:100;
  


}