
.header {
    display:flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 230px;
    align-items: center;
    
}

/* Nav */
.nav {
    background-color: white;
}

.menu-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.header__log{
    display: block;
    padding: 35px;
    text-decoration: none;
    color: #000000;}

.icon1{
    max-width: 40px;
    background-color: #8db1ab;
    padding: 0px;
    margin-bottom: 10px;
    border-radius:50%;
}
.text-center{
    text-decoration: none;
    text-transform: uppercase;
    color: #8db1ab;
    text-align: center;
}
.brand {
    line-height: 1;
    font-size: 26px;
    letter-spacing: 2px;
}
.menu__item{
    padding: 20px;
    color: black;

}
.project-img{
    width: 400px;
    margin-top:50px;
    margin-bottom:20px;

}
.social__item{
    padding: 10px ;

}
.icon{max-width: 40px;
    padding: 0px;
    margin-bottom: 10px;
    background-color:#e3e5e8;
}
.footer{
    margin-top:100px;
    margin-bottom:100px;
    justify-content:space-between;  


}
.copyright{
    margin-top:50px;
}
.footer__heading{
margin-bottom:20px;
font-size: 25px;
font-weight: bold;
}
.footer__slogan{
    margin-top:20px;
    margin-bottom: 20px;
    color:#8db1ab;
    font-weight: bolder;
}
.nav-bar{
    font-weight: bold;
}
body{
    margin-left: 15px;
    margin-right: 15px;
}
