header {
  background-color: rgb(25, 90, 230);
  padding: 1.5em;
  text-align: center;
}
nav {
  background-color: #1abc9c;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 14px 16px;
}
nav li:hover {
  background-color: orange;
}
* {
  box-sizing: border-box;
}

section {
  background-color: lightgrey;
}
div {
  width: 26%;
  float: left;
  background-color: #f0f0f0;
  padding: 0px;
}

aside {
  box-sizing: border-box;
  border: 1px #ebebeb solid;
  border-radius: 15px;
  margin-bottom: 30px;
  width: 230.5;
  height: 343.3;
  position :absolute;
  right: 20px;

}
body {
  line-height: 1.7;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #363636;
  letter-spacing: 0.25px;
}

aside {
  border: 1px solid red;
  width: 300px;
  margin: 20px 10px 0px 10px;
  padding: 10px;
  background: #66cccc;}
footer {
  width: 100%;
  margin-top :20px;
  background-color: black;
  padding: 20px;
  color: white;
  text-align: center;
  float: left;
  margin-left: auto;

}